<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add category</title>
</head>
<body>
    <h1>Add category</h1>
    <div>
        <form th:object="${category}" th:action="@{savecategory}" action="#" method="post">
            <label for="id">Id</label>
            <input type="text" id="id" th:field="*{categoryId}" />
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" />
            <input type="submit" value="Save"></input>
        </form>
    </div>
</body>
</html>