<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <h1>Profile</h1>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            <tr th:each="appuser : ${appusers}">
                <td th:text="${appuser.id}"></td>
                <td th:text="${appuser.username}"></td>
                <td th:text="${appuser.passwordHash}"></td>
                <td th:text="${appuser.email}"></td>
                <td th:text="${appuser.role}"></td>
            </tr>
        </table>
        <a href="/movielist" class="btn btn-success">Movies</a>
    </div>
</body>
</html>